h1{
    font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--text-color);
    font-family: var(--poppins);
}
.task-list{
    padding: 36px 24px;
}
.task-card {
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: var(--card-color);
    margin-top: 20px;
    position: relative;
  }

  .task-card .table {
    width: 100%;
    border-collapse: collapse;
  }

  .task-card th, .task-card td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e4e3e3; 
  }
  
  .task-card tbody tr:last-child td {
    border-bottom: none; 
  }

  td{
    color: var(--text-color);
    font-family: var(--Nunito);
  }

  th{
    color: #666;
    font-family: var(--poppins);
  }
  
  .buttons-container {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 8%;
  }
  .left-button {
    position: absolute;
    left: 20px;
  }
  
  .right-button {
    position: absolute;
    right: 20px;
  }
  
  .clear-all-button, .new-task-button, .delete-button {
    background-color: #f01b1b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  /* .clear-all-button:hover, .new-task-button:hover, .delete-button:hover {
    background-color: #0056b3;
  } */


  button{
    background-color: #bfe1ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .text{
    color: #009ef7;
    margin: 5px;
  }

  .status {
    font-size: 10px;
    padding: 6px 16px;
    border-radius: 20px;
    font-weight: 700;
  }
  
  .completed {
    background: var(--light-green);
    color: var(--green);
  }
  
  .pending {
    background: var(--light-orange);
    color: var(--red);
  }

  .pagination-container button.active {
    background-color: #ccc;
    color: #007bff;
  }
  
  .pagination-container button {
    background-color: #fff;
    color: #666;
    border: 1px solid #ccc; 
  }


  .container-flex {
    display: flex;
    align-items: center; /* Centralizar verticalmente */
    margin-top: 15px;
  }
  
  /* Adicione margens conforme necessário para separação entre os elementos */
  .items-per-page-container {
    margin-right: 10px;
  }
  
  /* Adicione margens ao redor dos botões de paginação */
  .pagination-container button {
    margin: 0 5px;
  }
  .pagination-container {
    margin-left: auto; /* Empurrar para a direita usando margem automática à esquerda */
  }
  

  select{
    padding: 7px 10px 7px 12px;
    border: 1px solid #E8EAED;
    border-radius: 5px;
    background: white;
    box-shadow: 0 1px 3px -2px #9098A9;
    cursor: pointer;
    font-size: 16px;
}